__pycache__/
*.pth
*.pyc
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.ico
*.svg
*.svgz
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mp3
*.wav
*.ogg
*.mid
*.midi
*.m4a
*.aac
*.flac
*.exe
*.dll
*.so
*.lib
*.a
*.o
*.obj
*.bin
*.dat
*.db
*.sqlite
*.sqlite3
*.pdb
*.log
*.csv
*.xlsx
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.txt
mlartifacts/
mlruns/
.ipynb_checkpoints/